<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WordCount_About</title>
    <!--부트스트랩!-->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        header {
            height: 100px;
        }

        footer {
            height: 100px;
        }
    </style>
    }
</head>

<body>
    <div class="container">
        <header>
            <h1>반갑습니다. 이 페이지는 멋쟁이사자처럼의 WordCount 페이지입니다.</h1>
        </header>
        <h3>변명이라면 쓸데없이 바빠서 꾸미지를 못했네요ㅠㅠ 시험끝나고 혼자서라도 꾸며보겠습니다 :)</h3>
        <footer>
            <a href="{% url 'home' %}">홈으로 돌아가기</a>
        </footer>
    </div>
</body>

</html>